<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-label stacked>Phone Number</ion-label>
  <input type="tel" [(ngModel)]="phoneNumber" [textMask]="{mask: masks.phoneNumber}" />

  <ion-label stacked>Card</ion-label>
  <input type="tel" [(ngModel)]="cardNumber" [textMask]="{mask: masks.cardNumber}" />

  <ion-label stacked>Expiry</ion-label>
  <input type="tel" [(ngModel)]="cardExpiry" [textMask]="{mask: masks.cardExpiry}" />

  <ion-label stacked>Order Code</ion-label>
  <input type="text" [(ngModel)]="orderCode" [textMask]="{mask: masks.orderCode}" />

  <ion-button (click)="save()">Save</ion-button>

</ion-content>
